<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <%- partial("_sitemap") %>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                Stuff 2
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                Stuff 3
            </div>
        </div>
    </div>
</footer>