<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <%- partial("_sitemap") %>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <p>
                    This site was build using harpjs w/ ejs + bootstrap + fontawesome, and is hosted on GitHub.
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <!--
                    Github
                    linkedIn
                    twitter
                    outlook
                    gmail
                    slack
                -->
                <ul>
                    <li><a href="" target="_blank"><i class="fab fa-github"></i></a></li>
                    <li><a href="" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="" target="_blank"><i class="fab fa-slack-hash"></i></a></li>
                </ul>
                <ul>
                    <li><a href="" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="" target="_blank"><i class="fas fa-at"></i></a></li>
                    <li><a href="" target="_blank"><i class="fab fa-google"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>