<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#"><img src="<%= images_url %>logo.png" alt="logo" width="40px" height="40px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Education</a>
                    </li>
                    <li class="nav-item dropdown" id="dd1">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Programming Projects
                        </a>
                        <div class="dropdown-menu" id="ddd1" aria-labelledby="dropdown1">
                            <ul class="dropdown-ul">
                            <li><a class="dropdown-item" href="#">Java</a></li>
                            <li><a class="dropdown-item" href="#">C++</a></li>
                            <li><a class="dropdown-item" href="#">C#</a></li>
                            <li><a class="dropdown-item" href="#">Python</a></li>
                            <li><a class="dropdown-item" href="#">Swift</a></li>
                            <li><a class="dropdown-item" href="#">Kotlin</a></li>
                            <li><a class="dropdown-item" href="#">Haskell</a></li>
                            <li><a class="dropdown-item" href="#">PHP</a></li>
                            <li><a class="dropdown-item" href="#">JavaScript</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item dropdown" id="dd2">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Technologies
                        </a>
                        <div class="dropdown-menu" id="ddd2" aria-labelledby="dropdown2">
                            <ul class="dropdown-ul">
                            <li><a class="dropdown-item" href="#">Frameworks</a></li>
                            <li><a class="dropdown-item" href="#">Libraries</a></li>
                            <li><a class="dropdown-item" href="#">Game Engines</a></li>
                            <li><a class="dropdown-item" href="#">Tools</a></li>
                            <li><a class="dropdown-item" href="#">Platforms & OS</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>